<% provide(:title, "Users") %>
<div class="container mt-5">
    <div class="row">
        <% if @users.empty? %>
            <div class="col-lg-6 offset-lg-3">
                <h3 class="text-center text-muted">Nothing to show</h3>
            </div>
        <% else %>
            <% @users.each do |user| %>
                <div class="col-lg-6">
                    <div class="card text-white bg-light mb-3 p-3">
                        <section>
                            <%= user_avatar(user,'profile-avatar') %>
                            <%= link_to user.name, user_path(user), class: 'ml-2' %>
                            <% unless current_user?(user) %>
                                <%= render partial: 'follow_form', locals: { user: user } %>
                            <% end %>
                        </section>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="container pagination justify-content-center">
        <%= paginate @users, window: 1 %>
    </div>
</div>
    
