<%= image_tag 'home-bg.jpg', class: 'img-fluid' %>
<div class="container homepage text-center" id="about">
    <div class="homepage-content text-white">
        <h1 class="text-center"><strong>Framgia E-learning System</strong></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a urna finibus, aliquam nisi ac, elementum lorem. 
        Pellentesque tempor non odio vitae pulvinar. Nunc volutpat dui eget interdum laoreet. Nulla nec ullamcorper ante, 
        id facilisis sem. Nulla sodales posuere libero et fermentum. Cras efficitur pharetra tempus. Mauris imperdiet lorem 
        ac magna imperdiet aliquam. Nunc hendrerit laoreet ligula, quis vestibulum erat bibendum et. Nunc pharetra volutpat 
        nisi vel varius. Etiam gravida leo ipsum, quis luctus metus molestie in. Ut a hendrerit eros. Nulla fermentum, urna 
        a tincidunt porttitor, lorem diam laoreet velit, at viverra ante lectus a leo. Sed ullamcorper in ligula eu vulputate. 
        Maecenas dictum commodo dui. Integer interdum ante ac nunc egestas vehicula. Sed aliquam ex id egestas faucibus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a urna finibus, aliquam nisi ac, elementum lorem. 
        Pellentesque tempor non odio vitae pulvinar. Nunc volutpat dui eget interdum laoreet. Nulla nec ullamcorper ante, 
        id facilisis sem. Nulla sodales posuere libero et fermentum. Cras efficitur pharetra tempus. Mauris imperdiet lorem 
        ac magna imperdiet aliquam. Nunc hendrerit laoreet ligula, quis vestibulum erat bibendum et. Nunc pharetra volutpat 
        nisi vel varius. Etiam gravida leo ipsum, quis luctus metus molestie in. Ut a hendrerit eros. Nulla fermentum, urna 
        a tincidunt porttitor, lorem diam laoreet velit, at viverra ante lectus a leo. Sed ullamcorper in ligula eu vulputate. 
        Maecenas dictum commodo dui. Integer interdum ante ac nunc egestas vehicula. Sed aliquam ex id egestas faucibus.</p>
    </div>
</div>

