<footer class="footer bg-dark text-center p-3 mt-5">
  <div class="container">
    <span class="text-white"><i class="fa fa-copyright"></i> Ivan Ray Buglosa</span>

    <span class="float-right">
      <a href="https://www.facebook.com/ivanraybuglosa" target="_blank" class="text-white mx-2">
        <i class="fa fa-facebook-f fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/ivan-ray-buglosa-2a971095/" target="_blank" class="text-white mx-2">
        <i class="fa fa-linkedin fa-2x"></i>
      </a>
    </span>
  </div>
</footer>