/*
 *= require sweetalert2
 */

 @import "bootstrap";
 @import 'font-awesome';

body {
  font-family: 'Nunito', sans-serif !important;
}

.homepage {
  margin-top:30px;
  width: 900px;
}

.homepage img { 
  opacity: 0.7;
}

.homepage .homepage-content {
  margin-top: 30px;
  line-height: 30px;
  text-align: justify;
}

.footer {
  padding:20px;
  height: 50px;
  margin-top: -50px;
}


.authenticate {
  margin-top: 40px;
}

.edit-profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.feed-avatar {
  width: 80px;
  height: 80px;
}

.navbar-avatar {
  width: 25px;
  height: 25px;
  border-radius: 25%;
}

.checkbox-label {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.bg-image {
  width: 1445px;
  opacity: 0.7;
}

.session {
  background-image: url('session-bg.jpg');
  background-size: cover;
}

.session-card {
  opacity: 0.9;
  border-radius: 15px;
}

.navbar-image {
  width: 35px;
  height: 35px;
}

.navbar-search {
  width: 300px;
}

.content {
  min-height: 615px;
}

.nav-brand {
  font-family: 'Gochi Hand', cursive;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
  letter-spacing: 3px;
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
  }
}